@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');

body {
    font-family: "Gentium Plus", serif;
}

h1, h2 {
    font-family: "Gotu", sans-serif;
}

blockquote {
    overflow-wrap: break-word;
}

figure {
    margin: 1rem auto;
    max-width: 90%;
}

figcaption {
    text-align: center;
    opacity: 0.9;
    font-size: 50%;
}
