<html>
    <head>
        <title>Nevi’im | Post-Self Cycle book III</title>
        <meta charset="utf-8">
        <meta http-equiv="refresh" content="0; url=https://post-self.ink/books/neviim">
        <meta property="og:title" content="Nevi’im | Post-Self Cycle book III">
        <meta property="og:site_name" content="Post-Self">
        <meta property="og:type" content="website">
        <meta property="og:image" content="https://neviim.post-self.ink/front.jpg">
        <meta property="og:url" content="https://post-self.ink/books/neviim/">
        <meta property="og:description" content="A science fiction setting focused on identity, memory, and individuation with uploaded consciousnesses">
        <script type=application/ld+json>{
            "@context":"http://schema.org",
            "@type":"WebSite",
            "name":"Nevi’im | Post-Self Cycle book III",
            "headline":"A science fiction setting focused on identity, memory, and individuation with uploaded consciousnesses",
            "url":"https:\/\/post-self.ink\/books\/neviim\/"
        }</script>
    </head>
</html>
